/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .photo-tab {
    width: 20px;
    top: 120px;
  }
  .video-tab {
    top: 520px;
    width: 20px;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .modal2 {
    width: 90%;
  }
  #menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
  }
  #menu .menu-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mySlides {
    display: none;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .gallery-container a {
    position: absolute;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }
  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }
  #recomended {
    display: block !important;
    height: 100%;
  }
  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }
  #recomended .container {
    height: 100%;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #recomended .container .btns {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #recomended .container .images {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #recomended .container .images .mid-img {
    left: 1em;
    bottom: 2em;
  }
  #recomended .container .images .bottom-img {
    bottom: 1em;
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }
  .contact-container {
    padding: 40px;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mySlides {
    display: none;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .gallery-container a {
    position: absolute;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }
  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }
  #recomended {
    display: block !important;
    height: 100%;
  }
  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }
  #recomended .container {
    height: 100%;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #recomended .container .btns {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #recomended .container .images {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #recomended .container .images .mid-img {
    left: 1em;
    bottom: 2em;
  }
  #recomended .container .images .bottom-img {
    bottom: 1em;
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .mySlides {
    display: none;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .gallery-container a {
    position: absolute;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }
  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }
  #recomended {
    display: block !important;
    height: 100%;
  }
  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }
  #recomended .container {
    height: 100%;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #recomended .container .btns {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #recomended .container .images {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #recomended .container .images .mid-img {
    left: 1em;
    bottom: 2em;
  }
  #recomended .container .images .bottom-img {
    bottom: 1em;
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }
}
/*# sourceMappingURL=mobile.css.map */