/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mySlides {
    display: none;
    width: auto;
    height: fit-content;
  }

  .gallery-container a {
    position: absolute;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }

  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }

  #recomended {
    display: block !important;
    height: 100%;
  }

  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }

  #recomended .container {
    height: 100%;
    display: block;
    flex-direction: column;
    height: fit-content;
    word-wrap: break-word;
    flex-wrap: wrap;

    .btns {
      display: none;
      flex-direction: row;
    }
  }

  #recomended .container .images {
    height: 400px;
    display: flex;
    flex-direction: column;

    .top-img {
    }

    .mid-img {
      left: 1em;
      bottom: 2em;
    }

    .bottom-img {
      bottom: 1em;
    }
  }

  #section2 {
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }

  .contact-container {
    padding: 40px;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mySlides {
    display: none;
    width: auto;
    height: fit-content;
  }

  .gallery-container a {
    position: absolute;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }

  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }

  #recomended {
    display: block !important;
    height: 100%;
  }

  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }

  #recomended .container {
    height: 100%;
    display: block;
    flex-direction: column;
    height: fit-content;
    word-wrap: break-word;
    flex-wrap: wrap;

    .btns {
      display: none;
      flex-direction: row;
    }
  }

  #recomended .container .images {
    height: 400px;
    display: flex;
    flex-direction: column;

    .top-img {
    }

    .mid-img {
      left: 1em;
      bottom: 2em;
    }

    .bottom-img {
      bottom: 1em;
    }
  }

  #section2 {
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .mySlides {
    display: none;
    width: auto;
    height: fit-content;
  }

  .gallery-container a {
    position: absolute;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    left: 0;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
  }

  .next {
    right: -95%;
    bottom: 48%;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    position: absolute;
  }

  #recomended {
    display: block !important;
    height: 100%;
  }

  #recomended h1 {
    margin: auto auto;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-size: 50px;
  }

  #recomended .container {
    height: 100%;
    display: block;
    flex-direction: column;
    height: fit-content;
    word-wrap: break-word;
    flex-wrap: wrap;

    .btns {
      display: none;
      flex-direction: row;
    }
  }

  #recomended .container .images {
    height: 400px;
    display: flex;
    flex-direction: column;

    .top-img {
    }

    .mid-img {
      left: 1em;
      bottom: 2em;
    }

    .bottom-img {
      bottom: 1em;
    }
  }

  #section2 {
  }
  .caption-container {
    position: absolute;
    top: 70%;
    right: 8em;
    z-index: 0;
  }
}
